<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Intro</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('kinase.index') }}">Kinase</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('inhibitor.index') }}">Inhibitor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('analysis.index') }}">Analysis</a>
      </li>
    </ul>
  </div>
</nav>

{% block content %}



{% endblock %}

<p class="footer"> Designed by Ildiko Magda 2019</p>
