{% extends "menu.html" %}

{% block content %}

/* * {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
} */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #011638
}
/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: aliceblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #011638;

}
/* Change color on hover */
.topnav a:hover {
  background-color: #011638;
  color: #f2f2f2;
  font-weight: bold;
}
/* Style the content */
.content {
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: left;
  color: #011638;
}
/* Style the footer */
.footer {
  padding: 5px;
  font-size: 12px;
  background-color: aliceblue;
}
/* Style for Scrollbox */
.id1 {
  border-bottom: 1px solid aliceblue; 
  border-collapse: collapse; 
  padding: 15px;
}



{% endblock %}

