{% extends "menu.html" %}

{% block content  %}

/* Change color on hover */
.nav a:hover {
  font-weight: bold;
}

/* Set style from jumbotron on homepage */
.jumbotron {
  background-image: linear-gradient(to bottom right, #C0D4C9, #318894); fixed;
  text-align: center;
}
/* Set style for header 4*/
h4 { 
  display: block;
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

/* Style the footer */
.footer {
  padding: 5px;
  font-size: 12px;
  background-color: aliceblue;
}

/* set style for homepage symbols */
.glyphicon {
  font-size: 40px;
}
{% endblock %}

