{% extends "menu.html" %}


{% block content %}
<div class="container">
<h4>Search</h4>
<form action="{{ url_for('kinase.index') }}" method=post enctype=multipart/form-data>
<div class="form-group">
  <label for="name">Kinase name</label>
  <input type="text" name="name">
</div>
      <button class="btn btn-success" type=submit>
              Search
          </button>
  </form>

</div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Family</th>
      <th scope="col">Inhibitor</th>
    </tr>
  </thead>
  <tbody>
     {% for item in data %}
    <tr>
      <th scope="row">{{ item[0] }}</th>
      <td>{{ item[1] }}</td>
      <td>{{ item[2] }}</td>
      <td>{{ item[3] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>




{% endblock %}